.login {
  text-align: center;
  position: relative;
  padding: 5em;
  height: 100vh;
}

.login h1 {
  font-size: 80px;
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
  margin-top: 50px;
}

.form {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  margin-right: 10px;
  margin-bottom: 10px;
}
